.transaction-history {
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.transaction-history thead {
  background-color: #00bcd4;
  color: #fff;
}

.transaction-history th,
.transaction-history td {
  padding: 12px 15px;
  text-align: left;
}

.transaction-history tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transaction-history tbody tr:hover {
  background-color: #f1f1f1;
}

.transaction-history th {
  border: 1px solid #ddd;
}

.transaction-history td {
  border: 1px solid #ddd;
}
