.friend-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  color: #000;
  gap: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.name {
  font-weight: bold;
  margin: 0;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}
